body {
      background-image: url(https://i.pinimg.com/originals/83/a2/4e/83a24e9763366e1cf2398b383330d52c.png);
      background-repeat: repeat-y;
      background-position: top;
      background-size: contain;
      font-family: 'Caviar Dreams';
}
html {
  background-color: rgb(248, 233, 201);
}
a {
  color: rgb(29, 4, 248);
}
@font-face {
	font-family: 'Caviar Dreams';
	src: url('fonts/caviar_dreams.eot'); /* IE 9 Compatibility Mode */
	src: url('fonts/caviar_dreams.eot?#iefix') format('embedded-opentype'), /* IE < 9 */
		url('fonts/caviar_dreams.woff2') format('woff2'), /* Super Modern Browsers */
		url('fonts/caviar_dreams.woff') format('woff'), /* Firefox >= 3.6, any other modern browser */
		url('fonts/caviar_dreams.ttf') format('truetype'), /* Safari, Android, iOS */
		url('fonts/caviar_dreams.svg#caviar_dreams') format('svg'); /* Chrome < 4, Legacy iOS */
}